{% extends 'base.html' %}

{% block extra_styles %}
<style>
    .navbar {
        background-color: #333;
        color: white;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 20px;
    }

    .nav-buttons {
        display: flex;
        gap: 10px;
    }

    .nav-button {
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        background-color: #555;
        border-radius: 3px;
        transition: background-color 0.3s ease;
    }

    .nav-button:hover {
        background-color: #777;
    }

    .error-message {
        max-width: 600px; /* Adjust as needed */
        margin: 20px auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f8d7da;
        color: #721c24;
        text-align: center;
    }

</style>
{% endblock %}

{% block content %}
<div class="navbar">
    <h1>Employee</h1>
    <div class="nav-buttons">
        <a href="{% url 'read' %}" class="nav-button">Go Back</a> 
        <a href="{% url 'user_logout' %}" class="nav-button">Logout</a>

    </div>
</div>

<div class="error-message">
    <h1>Error</h1>
    <p>{{ message }}</p>
</div>

{% endblock %}
