{% extends 'base.html' %}

{% block extra_styles %}
<style>
    .navbar {
        background-color: #333;
        color: white;
        width: 100%;
        padding: 15px 20px;
        box-sizing: border-box;
        margin-bottom: 20px;
    }

    .nav-buttons {
        display: flex;
        gap: 10px;
    }

    .nav-button {
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        background-color: #555;
        border-radius: 3px;
        transition: background-color 0.3s ease;
    }

    .nav-button:hover {
        background-color: #777;
    }

    .form-container {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 1200px;
        margin: 20px auto;
        min-height: auto;
        position: relative;
    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #333;
        color: white;
    }
</style>
{% endblock %}

{% block content %}
<div class="navbar">
    <h1>Employee</h1>
    <div class="nav-buttons">
    <a href="{% url 'read' %}" class="nav-button">Profile</a>
    </div>
</div>

<div class="form-container">
    <h2>Update User</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ emp_data.as_table }}
        </table>
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}


